.barraFondo {
  background-color: #002b5c;
}

.bordeEstilo {
  /* color: #002B5C; */
  /* border-color: #002B5C; */
  border-width: 5px;
  border-style: solid;
}

.titulo {
  /* color: #2569B8; */
  font-family: Permanent Marker;
  font-size: 2rem;
}

.subtitulo {
  /* color: #002B5C; */
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 1.5rem;
}

.subtitulo2 {
  /* color: #002B5C; */
  font-family: Permanent Marker;
}

.texto {
  /* color: #002B5C; */
  font-family: Montserrat;
}

.img-nombre {
  display: flex;

}

.img-avatar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
}

@media (max-width: 768px) {
  .img-avatar {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .img-nombre {
    margin-top: 20px;
    text-align: center;
  }
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-titulo {
  display: flex;
  align-items: center;
}

.avatar-redes {
  justify-content: space-between;
}
.spm{
  height: auto;
}
.izq{
  left: 15%;
}

.icon-next { 
  font-size: 40px;
  font-weight: bold;
  
}

.icon-prev { 
  font-size: 40px;
  font-weight: bold;
  
}

.control-margin-left {
  margin-left: -100px;
}

.control-margin-right {
  margin-right: -100px;
}

.container1 {
 display: flex;
 flex-direction: column;
}

.clase1 {
  display: flex;
  flex-flow: row;

}

body {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  header nav .navbar-collapse .navbar-nav .nav-letra {
    font-size: 50px!important;
  }
  header{
    min-height: 6vh!important;
    height: auto;
  }
  section .categories-content aside{
    display: none;
  }
  .section-container .title-categories {
    font-size: 150px;
  }
  .filter-text {
    font-size: 35px;
    text-align: center;
  }
}