body {
  margin: 0;
  background-color: #2569b8;
}
header {
  width: 100%;
  min-height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  /* border: 2px solid #7CB6F9; */
}
header nav .navbar-collapse .navbar-nav .nav-letra {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.5;
  color: #002b5c;
  text-align: center;
}
