.small-img{
    flex-basis: 40%;
    cursor: pointer;
    padding: 1px;    
}
.block2{
    background-color: #002B5C;
    color: #2569b8 ;
}
.icon1{
    cursor: pointer;
    color: red;
    padding: 10px;
}
.icon2{
    cursor: pointer;
    color: greenyellow;
    padding: 10px;
}
.icon3{
    cursor: pointer;
    color: #002B5C;
    padding: 10px;
}
.icon4{
    cursor: pointer;
    color: yellow;
    padding: 10px;
}
.butt{
    text-align: center;
    background-color: #002B5C;
    color: #2569b8;
}
.img-carrusel {
    width: 300px;
    height: 300px;
}
.flechitas {
display: none;
}

/* .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
}
  .carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .wrapper .slick-dots li button:before {
    font-size:20px;
    color:white;
  } */