/* body {
  background-color: #e44d41;
} */

/*imagen de fondo */
.contenido-hero {
  height: 20rem;
  max-width: 100%;
}

.contenido-hero,
img {
  max-width: 100%;
  max-height: 100%;
}

/* checkout button */
.checkout-button {
  display: flex;
  justify-content: end;
  padding-right: 100px;
}

.button {
  border: 5px solid #10476e;
  background-color: transparent;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 900;
  height: 40px;
  width: 125px;
  margin-bottom: 1.5rem;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #10476e;
  letter-spacing: 1px;
}
a:hover {
  color: #10476e;
  text-decoration: none;
}
.button:hover {
  background-color: yellow;
}
